PASSWORD={{ CODESERVER_WEB_PASSWORD }}
SUDO_PASSWORD={{ CODESERVER_SUDO_PASSWORD }}
PROXY_DOMAIN={{ endpoints.codeserver[ansible_facts['hostname']] }}
DOCKER_MODS=linuxserver/mods:code-server-terraform|linuxserver/mods:code-server-python3|linuxserver/mods:code-server-nodejs|linuxserver/mods:universal-docker
DOCKER_MODS=linuxserver/mods:universal-docker