global:

route:
  group_by: ['alertname', 'priority']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 9999h
  receiver: alerter

receivers:
- name: alerter
  pushover_configs:
  - user_key: "{{ ALERTMANAGER_PUSHOVER_USER_KEY }}"
    token: "{{ ALERTMANAGER_PUSHOVER_TOKEN }}"
    send_resolved: true
    priority: "{% raw %}{{ if eq .CommonLabels.severity \"critical\" }}2{{ else if eq .CommonLabels.severity \"warning\" }}0{{ else }}-1{{ end }}{% endraw %}"
    title: "{% raw %}{{ if eq .Status \"firing\" }}🔥{{ else }}✅{{ end }} {{ .CommonLabels.alertname }} {{ if eq .CommonLabels.severity \"critical\" }}⛔{{ else if eq .CommonLabels.severity \"warning\" }}⚠️{{ else if eq .CommonLabels.severity \"information\" }}ℹ{{ end }}{% endraw %}"
    message: "{% raw %}{{ range .Alerts }}{{ .Annotations.description }}\n{{ end }}{% endraw %}"
    retry: 1h
    expire: 48h