version: 1.1.4

cache: true

endpoints:
  azureOpenAI:
    titleConvo: true
    titleModel: "gpt-3.5-turbo"
    assistants: true
    plugins: true
    groups:
{# - group: "EastUS"
  apiKey: "{{ OPENAI_AZURE_API_KEY_2 }}"
  instanceName: "{{ OPENAI_AZURE_INSTANCENAME_2 }}"
  version: "{{ OPENAI_AZURE_API_VERSION }}"
  models:
  gpt-4o:
    deploymentName: "gpt-4o" #}
      - group: "Sweden"
        apiKey: "{{ OPENAI_AZURE_API_KEY_1 }}"
        instanceName: "{{ OPENAI_AZURE_INSTANCENAME_1 }}"
        version: "{{ OPENAI_AZURE_API_VERSION }}"
        assistants: true
        models:
          gpt-4o:
           deploymentName: "gpt-4o"
          gpt-4-turbo:
            deploymentName: "gpt-4-turbo"
          gpt-3.5-turbo:
            deploymentName: "gpt-35-turbo"
{# whisper:
  deploymentName: whisper-01 #}
      {# - group: "llama-70b-chat"
        apiKey: "{{ OPENAI_AZURE_LLAMA_API_KEY }}"
        baseURL: "https://Meta-Llama-3-70B-Instruct-qekul-serverless.swedencentral.inference.ai.azure.com/v1/chat/completions"
        serverless: true
        models:
          llama-70b-chat: true #}
      {# - group: "mistral-inference"
        apiKey: "{{ OPENAI_AZURE_MISTRAL_API_KEY }}"
        baseURL: "https://Mistral-large-tfrvw-serverless.swedencentral.inference.ai.azure.com/v1/chat/completions"
        serverless: true
        models:
          mistral-large-chat: true #}

{# See the Custom Configuration Guide for more information:
https://docs.librechat.ai/install/configuration/custom_config.html #}

speech:
  speechTab:
    conversationMode: true
    advancedMode: false
    speechToText:
      engineSTT: "external"
      autoTranscribeAudio: true
      decibelValue: -45
      autoSendText: -1
    textToSpeech:
      engineTTS: "external"
      voice: "alloy"
      automaticPlayback: false
      playbackRate: 1.0
      cacheTTS: true
  stt:
    azureOpenAI:
      instanceName: "{{ OPENAI_AZURE_INSTANCENAME_1 }}"
      apiKey: "{{ OPENAI_AZURE_API_KEY_1 }}"
      deploymentName: "whisper-01"
      apiVersion: "{{ OPENAI_AZURE_API_VERSION }}"
  tts:
    azureOpenAI:
      instanceName: "{{ OPENAI_AZURE_INSTANCENAME_1 }}"
      apiKey: "{{ OPENAI_AZURE_API_KEY_1 }}"
      deploymentName: "tts-hd"
      apiVersion: "{{ OPENAI_AZURE_API_VERSION }}"
      model: "tts-hd"
      voices: ['alloy', 'echo', 'fable', 'onyx', 'nova', 'shimmer']