RAG_API_URL=http://librechat-rag_api:8080
RAG_PORT=8080
POSTGRES_DB=librechat
POSTGRES_USER=librechat
POSTGRES_PASSWORD="{{ LIBRECHAT_POSTGRES_PASSWORD }}"
DB_HOST=librechat-vectordb
EMBEDDINGS_PROVIDER=azure
EMBEDDINGS_MODEL=text-embedding-3-large
RAG_AZURE_OPENAI_API_VERSION="{{ OPENAI_AZURE_API_VERSION }}"
RAG_AZURE_OPENAI_API_KEY="{{ OPENAI_AZURE_API_KEY_1 }}"
RAG_AZURE_OPENAI_ENDPOINT="https://{{ OPENAI_AZURE_INSTANCENAME_1 }}.openai.azure.com"
DEBUG_RAG_API=false