PORT=9707
URL="https://{{ (endpoints.prowlarr | dict2items)[0].value }}"
API_KEY="{{ PROWLARR_API_KEY }}"
ENABLE_ADDITIONAL_METRICS=true
ENABLE_UNKNOWN_QUEUE_ITEMS=true
PROWLARR__BACKFILL=true
PROWLARR_BACKFILL=true