URBACKUP_SERVER_URL="https://{{ (endpoints.urbackup | dict2items)[0].value }}/x"
URBACKUP_SERVER_USERNAME={{ URBACKUP_ADMIN_USERNAME }}
URBACKUP_SERVER_PASSWORD={{ URBACKUP_ADMIN_PASSWORD }}
EXPORT_CLIENT_BACKUPS=true