[
  {
    "id": 1,
    "name": "blue",
    "server": "http://195.90.219.248:8090/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
  {
    "id": 2,
    "name": "azure",
    "server": "http://192.168.200.2:8090/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
	  {
    "id": 3,
    "name": "azure_HTTP",
    "server": "http://speed.azure.sauna.re/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
	  {
    "id": 4,
    "name": "azure_HTTPS",
    "server": "https://speed.azure.sauna.re/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
	  {
    "id": 5,
    "name": "blue_HTTP",
    "server": "http://speed.blue.sauna.re/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
	  {
    "id": 6,
    "name": "blue_HTTPS",
    "server": "https://speed.azure.sauna.re/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
		  {
    "id": 7,
    "name": "nas_HTTP",
    "server": "http://speed.oiba.de/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
	  {
    "id": 8,
    "name": "nas_HTTPS",
    "server": "https://speed.oiba.de/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
	  {
    "id": 9,
    "name": "nas",
    "server": "http://192.168.100.3:8090",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  }
]
