SERVER_ADMIN={{ LINKSTACK_SERVER_ADMIN }}
HTTP_SERVER_NAME={{ endpoints[role_specific][ansible_facts['hostname']] }}
HTTPS_SERVER_NAME={{ endpoints[role_specific][ansible_facts['hostname']] }}
LOG_LEVEL=info
PHP_MEMORY_LIMIT=256M
UPLOAD_MAX_FILESIZE=32M