#!/bin/bash

# Variables
CERT_DIR="/output/plex"
CERT_PEM="${CERT_DIR}/cert.pem"
KEY_PEM="${CERT_DIR}/key.pem"
P12_CERT="${CERT_DIR}/cert.p12"

# Copy from sauna.re to plex folder and override existing files
rm -rf ${CERT_DIR}
cp -a /output/\sauna.re/ "${CERT_DIR}" || { echo "Failed to copy files"; exit 1; }

# Create P12 Certificate
openssl pkcs12 -export -out "$P12_CERT" -certpbe AES-256-CBC -keypbe AES-256-CBC -macalg SHA256 -in "$CERT_PEM" -inkey "$KEY_PEM" -password pass:{{ CERTDUMPER_PLEXCERT_PW }} || { echo "Failed to create P12 certificate"; exit 1; }

# Change Output Certificate Permissions
chmod 600 "$P12_CERT" || { echo "Failed to change permissions of $P12_CERT"; exit 1; }
chown {{ common_uid }}:{{ common_gid }} "$P12_CERT" || { echo "Failed to change owner of $P12_CERT"; exit 1; }