URBACKUP_SERVER_NAME={{ endpoints.urbackup.nas }}
URBACKUP_CLIENT_NAME={{ ansible_hostname }}
{% elif ansible_hostname == "dmz" %}
URBACKUP_CLIENT_AUTHKEY={{ URBACKUP_CLIENT_DMZ_AUTHKEY }}
{% elif ansible_hostname == "nas" %}
URBACKUP_CLIENT_AUTHKEY={{ URBACKUP_CLIENT_NAS_AUTHKEY }}
{% endif %}