version: '3.8'
services:
{% for service in services %}
  {{ service.name }}:
    build: {{ service.build | default('') }}
    image: {{ service.image }}
    container_name: {{ service.name }}
    hostname: {{ service.name }}
    restart: {{ service.restart | default('unless-stopped') }}
    command: >
      {{ service.command | default('') }}
    depends_on: 
      {% if service.depends_on is defined %}
      {% for depend in service.depends_on %}
      - {{ depend }}
      {% endfor %}
      {% endif %}
    security_opt:
      - no-new-privileges
    cap_drop: 
      {% if service.cap_drop is defined %}
      {% for cap in service.cap_drop %}
      - {{ cap }}
      {% endfor %}
      {% endif %}
    cap_add: 
      {% if service.cap_add is defined %}
      {% for cap in service.cap_add %}
      - {{ cap }}
      {% endfor %}
      {% endif %}
    user: {{ service.user | default('') }}
    cpus: {{ service.cpus | default('') }}
    mem_limit: {{ service.mem_limit | default('') }}
    devices: 
      {% if service.devices is defined %}
      {% for device in service.devices %}
      - {{ device | quote }}
      {% endfor %}
      {% endif %}
    sysctls: 
      {% if service.sysctls is defined %}
      {% for sysctl in service.sysctls %}
      - {{ sysctl | quote }}
      {% endfor %}
      {% endif %}
    secrets: 
      {% if service.secrets is defined %}
      {% for secret in service.secrets %}
      - {{ secret }}
      {% endfor %}
      {% endif %}
    env_file: 
      {% if service.env_file is defined %}
      {% for env_file in service.env_file %}
      - {{ env_file }}
      {% endfor %}
      {% endif %}
    environment:
      {% if service.environment is defined %}
      {% for env in service.environment %}
      - {{ env }}
      {% endfor %}
      {% endif %}
    ports:
      {% if service.ports is defined %}
      {% for port in service.ports %}
      {% if port is string %}
      - {{ port }}
      {% else %}
      - target: {{ port.target }}
        published: {{ port.published }}
        protocol: {{ port.protocol }}
        mode: {{ port.mode }}
      {% endif %}
      {% endfor %}
      {% endif %}
    network_mode: {{ service.network_mode | default('') }}
    networks: {{ service.networks | default([]) }}
    dns: 
      {% if service.dns is defined %}
      {% for dns in service.dns %}
      - {{ dns }}
      {% endfor %}
      {% endif %}
    read_only: {{ service.read_only | default(false) }}
    volumes:
      {% if service.volumes is defined %}
      {% for volume in service.volumes %}
      - {{ volume }}
      {% endfor %}
      {% endif %}
  labels:
    {% if service.traefik is defined %}
    - traefik.enable=true
    {% for traefik in service.traefik %}
    - "traefik.http.routers.{{ traefik.name }}.entrypoints=http"
    - "traefik.http.routers.{{ traefik.name }}.rule={{ traefik.rule | quote }}"
    {% if traefik.https_redirection | default(true) %}
    - "traefik.http.routers.{{ traefik.name }}.middlewares=https-redirect@file"
    {% endif %}
    - "traefik.http.routers.{{ traefik.name }}-https.entrypoints=https"
    - "traefik.http.routers.{{ traefik.name }}-https.rule={{ traefik.rule | quote }}"
    - "traefik.http.routers.{{ traefik.name }}-https.tls.certresolver=acme"
    - "traefik.http.routers.{{ traefik.name }}-https.middlewares={{ traefik.middlewares }}"
    - "traefik.http.services.{{ traefik.name }}.loadbalancer.server.port={{ traefik.service }}"
    {% endfor %}
    {% endif %}
    {% if service.watchtower | default(true) %}
    - "com.centurylinklabs.watchtower.enable=true"
    {% endif %}
{% endfor %}

networks:
{% for network in networks %}
  {{ network }}:
    external: true
{% endfor %}