[
  {
    "id": 1,
    "name": "dmz_IP",
    "server": "http://{{ endpoint_hosts.dmz.ip[0] }}:{{ endpoints.librespeed.dmz | regex_replace('^.*:', '') }}:8090",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
  {
    "id": 2,
    "name": "dmz_HTTP",
    "server": "http://{{ endpoints.librespeed.dmz }}/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
  {
    "id": 3,
    "name": "dmz_HTTPS",
    "server": "https://{{ endpoints.librespeed.dmz }}/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
  {
    "id": 4,
    "name": "nas_HTTP",
    "server": "http://{{ endpoints.librespeed.nas }}/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
  {
    "id": 5,
    "name": "nas_HTTPS",
    "server": "https://{{ endpoints.librespeed.nas }}/",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  },
  {
    "id": 6,
    "name": "nas_IP",
    "server": "http://{{ endpoint_hosts.nas.ip[0] }}:{{ endpoints.librespeed.nas | regex_replace('^.*:', '') }}:8090",
    "dlURL": "backend/garbage.php",
    "ulURL": "backend/empty.php",
    "pingURL": "backend/empty.php",
    "getIpURL": "backend/getIP.php"
  }
]
