PORT=9594
PLEX_ADDR="https://{{ (endpoints.plex | dict2items)[0].value }}"
PLEX_TOKEN="{{ PLEX_TOKEN }}"
PLEX_TIMEOUT=30
METRICS_PREFIX=plex
METRICS_MEDIA_COLLECTING_INTERVAL_SECONDS=300
PLEX_SERVER="https://{{ (endpoints.plex | dict2items)[0].value }}"