WEBSOCKET_ENABLED=true
LOG_FILE=/data/bitwarden.log
LOG_LEVEL=info
DATABASE_URL=mysql://{{ VAULTWARDEN_DBUSER }}:{{ VAULTWARDEN_DBPASS }}@vaultwarden2-mariadb/vaultwarden
ADMIN_TOKEN={{ VAULTWARDEN_ADMIN_TOKEN }}
DOMAIN=https://{{ endpoints[role_specific][ansible_facts['hostname']][1] }}

#ORG_GROUPS_ENABLED=true
SSO_ENABLED=true
SSO_ONLY=true
SSO_FRONTEND=experimental
SSO_EXPERIMENTAL_NO_MASTER_PWD=true
SSO_AUTHORITY={{ VAULTWARDEN_SSO_AUTHORITY }}
# SSO_AUTHORIZE_EXTRA_PARAMS=access_type=offline prompt=consent
SSO_CLIENT_ID={{ VAULTWARDEN_SSO_CLIENT_ID }}64755289453-v5p9oj0qf9mn55lg2p302vcsgtrthvtk.apps.googleusercontent.com
SSO_CLIENT_SECRET={{ VAULTWARDEN_SSO_CLIENT_SECRET }} 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
