WEBSOCKET_ENABLED=true
LOG_FILE=/data/bitwarden.log
LOG_LEVEL=info
DATABASE_URL=mysql://{{ VAULTWARDEN_DBUSER }}:{{ VAULTWARDEN_DBPASS }}@vaultwarden-mariadb/vaultwarden
ADMIN_TOKEN={{ VAULTWARDEN_ADMIN_TOKEN }}
DOMAIN=https://{{ endpoints[role_specific][ansible_facts['hostname']][0] }}