API_ENDPOINT=https://{{ endpoints[role_specific][ansible_facts['hostname']][0] }}
CLIENT_ENDPOINT=https://{{ endpoints[role_specific][ansible_facts['hostname']][1] }}
SPOTIFY_PUBLIC={{ SPOTIFY_PUBLIC }}
SPOTIFY_SECRET={{ SPOTIFY_SECRET }}
MONGO_ENDPOINT=mongodb://spotify-mongodb:27017/your_spotify
CORS=https://{{ endpoints[role_specific][ansible_facts['hostname']][1] }}