# cron expression to run in daemon mode. (default; "" = runs only once)
cron: "{{ adguardsync_schedule }}"

# runs the synchronisation on startup
runOnStart: true
{% set endpoints_list = endpoints.adguard|dict2items %}
{% set adguard_master_url = endpoints_list[0].value %}
{% set adguard_slave_urls = endpoints_list[1:] %}
origin:
  # url of the origin instance
  url: {{ adguard_master_url }}
  # apiPath: define an api path if other than "/control"
  # insecureSkipVerify: true # disable tls check
  username: {{ ADGUARD_USER }}
  password: {{ ADGUARD_PASSWORD }}

# replica instance (optional, if only one)
replicas:
{% for slave in adguard_slave_urls %}
  - url: {{ slave.value }}
    username: {{ ADGUARD_USER }}
    password: {{ ADGUARD_PASSWORD }}
{% endfor %}
# Configure the sync API server, disabled if api port is 0
api:
  # Port, default 8080
  port: 0
  # if username and password are defined, basic auth is applied to the sync API 
  username: username
  password: password
  ####
  
# Configure sync features; by default all features are enabled.
features:
  generalSettings: true
  queryLogConfig: true
  statsConfig: true
  clientSettings: true
  services: true
  filters: true
  dhcp:
    serverConfig: true
    staticLeases: true
  dns:
    serverConfig: true
    accessLists: true
    rewrites: true