UP_UNIFI_DEFAULT_URL="https://{{ endpoints.unifi[ansible_facts['hostname']] }}"
UP_UNIFI_DEFAULT_USER={{ UNIFIEXPORTER_USER }}
UP_UNIFI_DEFAULT_PASS= {{ UNIFIEXPORTER_PASSWORD}}
UP_INFLUXDB_DISABLE=true
UP_PROMETHEUS_NAMESPACE=unifipoller