#!/bin/bash
PATH=/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/bin

# Run the command
docker exec -t photoprism /photoprism/bin/photoprism import
# docker exec -t photoprism /photoprism/bin/photoprism index