NODE_ENV=production
APP_URL={{ endpoints[role_specific][ansible_facts['hostname']] }}
DB_CONNECTION=sqlite
{# MAIL_CONNECTION=smtp
SMTP_HOST=127.0.0.1
SMTP_PORT=2525
MAIL_SSL=false
MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_SENDER=noreply@ferdium.org #}
IS_CREATION_ENABLED=true
IS_DASHBOARD_ENABLED=true
IS_REGISTRATION_ENABLED=true
CONNECT_WITH_FRANZ=true
DATA_DIR=/data
JWT_USE_PEM=true