database__client=mysql
database__connection__host=ghost-mysql
database__connection__user={{ GHOST_MYSQL_USER }}
database__connection__password={{ GHOST_MYSQL_PASSWORD }}
database__connection__database=ghost
url=https://{{ endpoints[role_specific][ansible_facts['hostname']] }}
