AZURE_OPENAI_ENDPOINT=https://{{ OPENAI_AZURE_INSTANCENAME_1 }}.openai.azure.com
AZURE_OPENAI_MODEL_MAPPER=gpt-4o=gpt-4o,o1=o1,o1-mini=o1-mini,gpt-4-turbo=gpt-4-turbo,gpt-4o-mini=gpt-4o-mini,gpt-3.5-turbo=gpt-35-turbo
AZURE_OPENAI_API_VER={{ OPENAI_AZURE_API_VERSION }}