# The UID and GID of the user used to run paperless in the container. Set this
# to your UID and GID on the host so that you have write access to the
# consumption directory.
USERMAP_UID={{ common_uid }}
USERMAP_GID={{ common_gid }}

# Additional languages to install for text recognition, separated by a
# whitespace. Note that this is
# different from PAPERLESS_OCR_LANGUAGE (default=eng), which defines the
# language used for OCR.
# The container installs English, German, Italian, Spanish and French by
# default.
# See https://packages.debian.org/search?keywords=tesseract-ocr-&searchon=names&suite=buster
# for available languages.
PAPERLESS_OCR_LANGUAGES=deu eng ita spa

###############################################################################
# Paperless-specific settings                                                 #
###############################################################################

# All settings defined in the paperless.conf.example can be used here. The
# Docker setup does not use the configuration file.
# A few commonly adjusted settings are provided below.

# This is required if you will be exposing Paperless-ngx on a public domain
# (if doing so please consider security measures such as reverse proxy)
PAPERLESS_URL=https://{{ endpoints[role_specific][ansible_facts['hostname']] }}

# Adjust this key if you plan to make paperless available publicly. It should
# be a very long sequence of random characters. You don't need to remember it.
PAPERLESS_SECRET_KEY={{ PAPERLESS_SECRET_KEY }}

# Use this variable to set a timezone for the Paperless Docker containers. If not specified, defaults to UTC.
PAPERLESS_TIME_ZONE={{ host_timezone }}

# The default language to use for OCR. Set this to the language most of your
# documents are written in.
PAPERLESS_OCR_LANGUAGE=deu

# Set if accessing paperless via a domain subpath e.g. https://domain.com/PATHPREFIX and using a reverse-proxy like traefik or nginx
#PAPERLESS_FORCE_SCRIPT_NAME=/PATHPREFIX
#PAPERLESS_STATIC_URL=/PATHPREFIX/static/ # trailing slash required

PAPERLESS_REDIS=redis://paperless-redis:6379
PAPERLESS_DBENGINE=mariadb
PAPERLESS_DBHOST=paperless-mariadb
PAPERLESS_DBUSER={{ PAPERLESS_DBUSER }}
PAPERLESS_DBPASS={{ PAPERLESS_DBPASS }}
PAPERLESS_DBPORT=3306
PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://paperless-gotenberg:3000
PAPERLESS_TIKA_ENDPOINT=http://paperless-tika:9998

PAPERLESS_ADMIN_USER={{ PAPERLESS_ADMIN_USER }}
PAPERLESS_ADMIN_MAIL={{ PAPERLESS_ADMIN_MAIL }}
PAPERLESS_ADMIN_PASSWORD={{ PAPERLESS_ADMIN_PASSWORD }}



PAPERLESS_DATA_DIR=/data/data
PAPERLESS_CONSUMPTION_DIR=/data/consume
PAPERLESS_MEDIA_ROOT=/data/media
PAPERLESS_EXPORT_DIR=/data/export
