PUBLIC_URL="https://{{ endpoints[docker_role_name][ansible_facts['hostname']] }}"
BASE_URL="https://{{ endpoints[docker_role_name][ansible_facts['hostname']] }}"
DB_TYPE=mysql
DB_PORT=3306
DB_NAME=limesurvey
DB_HOST=limesurvey-mariadb
DB_USERNAME="{{ LIMESURVEY_DBUSER }}"
DB_PASSWORD="{{ LIMESURVEY_DBPASS }}"

ADMIN_NAME="{{ LIMESURVEY_ADMIN_NAME }}"
ADMIN_USER="{{ LIMESURVEY_ADMIN_USER }}"
ADMIN_EMAIL="{{ LIMESURVEY_ADMIN_EMAIL }}"
ADMIN_PASSWORD="{{ LIMESURVEY_ADMIN_PASSWORD }}"