adguard_protocol=https
adguard_hostname={{ (endpoints.adguard | dict2items)[0].value }}
adguard_username={{ ADGUARD_USER }}
interval=30s
log_limit=10000
adguard_port=443
adguard_password={{ ADGUARD_PASSWORD }}