{% if ansible_hostname == "blue" %}
RemotePath=streaming:
{% else %}
RemotePath=brain:
{% endif %}
MountPoint=/mnt/merged
AccessFolder=/mnt
ConfigDir=/config
ConfigName=rclone.conf
MountCommands=--allow-other --allow-non-empty --umask 000 --uid 0 --gid 0 --timeout 1h --checkers 10 --buffer-size 256M --transfers 12 --use-mmap --low-level-retries 3 --multi-thread-cutoff 64M --multi-thread-streams 8 --no-update-modtime --drive-service-account-file /config/service_accounts/backup99-backup-objgxlrskxo5c8o3x9sm.json --poll-interval 15s --dir-cache-time 30s --vfs-cache-mode writes --vfs-read-chunk-size 64M --vfs-read-ahead 512M --vfs-read-chunk-size-limit 4G  --vfs-cache-poll-interval 15s --vfs-cache-max-age 1h --vfs-cache-max-size 10G --vfs-write-back 5s --cache-dir=/mnt/caches/ --drive-chunk-size 64M --rc --rc-addr=:5572 --rc-enable-metrics --rc-user=admin --rc-pass={{ RCLONE_RC_PASS }}