ACTUAL_SERVER_URL=http://actualbudget:5006
ACTUAL_PASSWORD={{ ACTUALBUDGET_PASSWORD }}
ACTUAL_BUDGET_ID={{ ACTUALBUDGET_BUDGET_ID }} # This is the ID from Settings → Show advanced settings → Sync ID
ACTUAL_E2E_PASSWORD={{ ACTUALBUDGET_E2E_PASSWORD }} # optional. required if you have E2E encryption
NOT_GUESSED_TAG=#actual-ai-miss
GUESSED_TAG=#actual-ai
CLASSIFICATION_SCHEDULE_CRON=0 */4 * * * # How often to run classification.
CLASSIFY_ON_STARTUP=true # Whether to classify transactions on startup (don't wait for cron schedule)
SYNC_ACCOUNTS_BEFORE_CLASSIFY=false # Whether to sync accounts before classification
LLM_PROVIDER=openai # Can be "openai", "anthropic", "google-generative-ai" or "ollama"
OPENAI_API_KEY={{ OPENAI_AZURE_API_KEY_1 }} # optional. required if you want to use the OpenAI API
OPENAI_MODEL=gpt-4o-mini # optional. required if you want to use a specific model, default is "gpt-4-turbo"
OPENAI_BASE_URL=http://azure-proxy:8080/v1 # optional. required if you don't want to use the OpenAI API but OpenAI compatible API, ex: "http://ollama:11424/v1
#      ANTHROPIC_API_KEY:  # optional. required if you want to use the Anthropic API
#      ANTHROPIC_MODEL:  # optional. required if you want to use a specific model, default is "claude-3-5-sonnet-latest"
#      ANTHROPIC_BASE_URL:  # optional. default: "https://api.anthropic.com/v1
#      GOOGLE_GENERATIVE_AI_API_KEY:  # optional. required if you want to use the Google Generative AI API
#      GOOGLE_GENERATIVE_AI_MODEL:  # optional. required if you want to use a specific model, default is "gemini-1.5-flash"
#      GOOGLE_GENERATIVE_AI_BASE_URL:  # optional. default: "https://generativelanguage.googleapis.com"
#      OLLAMA_MODEL: phi3.5 # optional. required if you want to use a Ollama specific model, default is "phi3.5"
#      OLLAMA_BASE_URL:  # optional. required for ollama provider
#      NODE_TLS_REJECT_UNAUTHORIZED: 0 # optional. required if you have trouble connecting to Actual server 