SQLALCHEMY_DATABASE_URI="sqlite:////database/ihatemoney.db"
SQLALCHEMY_TRACK_MODIFICATIONS="False"
SECRET_KEY="{{ IHATEMONEY_SECRET_KEY }}"
ACTIVATE_DEMO_PROJECT="False"
ADMIN_PASSWORD={{ IHATEMONEY_ADMIN_PASSWORD }}
ALLOW_PUBLIC_PROJECT_CREATION="False"
ACTIVATE_ADMIN_DASHBOARD="True"
BABEL_DEFAULT_TIMEZONE="{{ host_timezone }}"
GREENLET_TEST_CPP="no"
{# MAIL_DEFAULT_SENDER=""
MAIL_SERVER=""
MAIL_PORT=""
MAIL_USE_TLS=""
MAIL_USE_SSL=""
MAIL_USERNAME=""
MAIL_PASSWORD="" #}
SESSION_COOKIE_SECURE="True"
ENABLE_CAPTCHA="True"