http:
  routers:
{% for traefik_extra_server in traefik_extra_servers %}
    {{ traefik_extra_server.name }}:
      entryPoints: ["{{ traefik_extra_server.entrypoint }}"]
      middlewares: ["{{ traefik_extra_server.middleware }}"]
      service: "service-{{ traefik_extra_server.name }}"
      rule: "Host(`{{ traefik_extra_server.url }}`)"
      tls:
        certResolver: "acme"
{% if traefik_extra_server.insecuretransport %}
      serversTransport: insecuretransport@file
{% endif %}
{% endfor %}
  services:
{% for traefik_extra_server in traefik_extra_servers %}
    service-{{ traefik_extra_server.name }}:
      loadBalancer:
        servers:
          - url: "{{ traefik_extra_server.url }}"
{% if traefik_extra_server.insecuretransport %}
        serversTransport: insecuretransport@file
{% endif %}
{% endfor %}
