{
    "core": {
        "dry_run": false,
        "rclone_binary_path": "/usr/bin/rclone",
        "rclone_config_path": "/rclone/rclone.conf"
    },
    "hidden": {},
    "notifications": {},
    "nzbget": {
        "enabled": false,
        "url": "https://user:password@nzbget.domain.com"
    },
    "plex": {
        "enabled": true,
        "ignore_local_streams": true,
        "max_streams_before_throttle": 1,
        "notifications": false,
        "poll_interval": 60,
        "rclone": {
            "throttle_speeds": {
                "0": "12M",
                "1": "9M",
                "2": "6M",
                "3": "3M",
                "4": "2M",
                "5": "1M"
            },
            "url": "https://localhost:7949"
        },
        "token": "{{ PLEX_TOKEN }}",
        "url": "https://watch.sauna.re:32400"
    },
    "remotes": {
        "gdrive_crypt_0": {
            "rclone_command": "move",
            "rclone_excludes": [
                "**sabnzbd/**",
                "**incomplete/**",
                "**DONOTDELETE**",
                "**partial~",
                "**_HIDDEN~",
                "**_UNPACK_**",
                "**.!qB**",
                ".unionfs/**"
            ],
            "rclone_extras": {
                "--buffer-size": "16M",
                "--checkers": 12,
                "--drive-chunk-size": "64M",
                "--drive-server-side-across-configs": null,
                "--log-level": "INFO",
                "--low-level-retries": 3,
                "--multi-thread-cutoff": "25M",
                "--multi-thread-streams": 8,
                "--no-update-modtime": null,
                "--retries": 3,
                "--retries-sleep": "10s",
                "--skip-links": null,
                "--stats": "60s",
                "--transfers": 6,
                "--use-mmap": null,
                "--user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36"
            },
            "rclone_sleeps": {
                " 0/s,": {
                    "count": 15,
                    "sleep": 25,
                    "timeout": 140
                },
                "Failed to copy: googleapi: Error 403: User rate limit exceeded": {
                    "count": 1,
                    "sleep": 25,
                    "timeout": 3600
                }
            },
            "remove_empty_dir_depth": 2,
            "sync_remote": "gdrive_crypt_0:",
            "upload_folder": "/data",
            "upload_remote": "gdrive_crypt_0:"
        }
    },
    "sabnzbd": {
        "apikey": "",
        "enabled": false,
        "url": "https://sabnzbd.domain.com"
    },
    "syncer": {},
    "uploader": {
        "gdrive_crypt_0": {
            "can_be_throttled": false,
            "check_interval": 5,
            "exclude_open_files": true,
            "max_size_gb": 0.1,
            "opened_excludes": [
                "/data2"
            ],
            "schedule": {
                "allowed_from": "04:00",
                "allowed_until": "08:00",
                "enabled": false
            },
            "service_account_path": "/rclone/service_accounts/",
            "size_excludes": null
        }
    }
}