PBS_ENDPOINT=https://{{ pbs_global_server.host }}:8007
PBS_USERNAME={{ PROXMOX_BACKUP_MONITORING_USER }}
PBS_API_TOKEN_NAME={{ PROXMOX_BACKUP_MONITORING_USER_TOKEN_NAME }}
PBS_API_TOKEN={{ PROXMOX_BACKUP_MONITORING_USER_API_TOKEN }}
