COUCHDB_USER={{ OBSIDIAN_DB_USER }}
COUCHDB_PASSWORD={{ OBSIDIAN_DB_PASSWORD }}
hostname={{ endpoints[role_specific][ansible_facts['hostname']] }}
username={{ OBSIDIAN_DB_USER }}
password={{ OBSIDIAN_DB_PASSWORD }}