APP_URL="https://{{ endpoints[role_specific][ansible_facts['hostname']] }}"
DB_CONNECTION=mysql
DB_DATABASE=inputforms
DB_HOST=inputforms-mariadb
DB_USERNAME="{{ INPUTFORMS_DBUSER }}"
DB_PASSWORD="{{ INPUTFORMS_DBPASS }}"