#!/bin/bash

find /srv/dev-disk-by-uuid-4cf2cd9e-0885-47b9-ada6-6005c3daa474/Multimedia/Backups/S20 -mtime -30 -type f \( -iname "*.jpg" -o -iname "*.jpeg" -o -iname "*.png" -o -iname ".gif" -iname "*.webp" -o -iname "*.tiff" -o -iname "*.raw" -o -iname ".bmb" -iname "*.heif" -o -iname "*.indd" -o -iname "*.svg" -o -iname ".jpeg" -iname "*.jif" -o -iname "*.heic" -o -iname "*.j2k" -o -iname ".dng" -iname "*.tif" -o -iname "*.jp2" -o -iname "*.mp4" -o -iname ".mp2" -iname "*.webm" -o -iname "*.mpg" -o -iname "*.mpv" -o -iname ".mpe" -iname "*.mpeg" -o -iname "*.ogg" -o -iname "*.mp4" -o -iname ".m4p" -iname "*.m4v" -o -iname "*.avi" -o -iname "*.deb" -o -iname ".mov" -iname "*.flv" \) -exec cp -lr {} /srv/dev-disk-by-uuid-4cf2cd9e-0885-47b9-ada6-6005c3daa474/Multimedia/Pictures/import \;
getfacl -p /srv/dev-disk-by-uuid-4cf2cd9e-0885-47b9-ada6-6005c3daa474/Multimedia/Pictures/import/DONOTDELETE | setfacl --set-file=- /srv/dev-disk-by-uuid-4cf2cd9e-0885-47b9-ada6-6005c3daa474/Multimedia/Pictures/import/*