SYNC_SRC=/backup
SYNC_DEST=gdrive_crypt_0:/personal
CRON=0 * * * *
CRON_ABORT=
FORCE_SYNC=1
CHECK_URL=https://uptime.oiba.de/api/push/bhyIluWB5u?status=up&msg=OK&ping=
SYNC_OPTS=--fast-list --links --timeout 1h --checkers 8 --buffer-size 16M --transfers 5 --use-mmap --low-level-retries 3 --min-age 2h -v --drive-service-account-file /config/service_accounts/rclone_sync.json
TZ=Europe/Berlin
