version: 1.1.4

cache: true

endpoints:
  azureOpenAI:
    titleConvo: true
    titleModel: "gpt-4o-mini"
    assistants: false # Agents are better
    plugins: true
    agents:
      recursionLimit: 50
      disableBuilder: false
    groups:
{# - group: "EastUS"
  apiKey: "{{ OPENAI_AZURE_API_KEY_2 }}"
  instanceName: "{{ OPENAI_AZURE_INSTANCENAME_2 }}"
  version: "{{ OPENAI_AZURE_API_VERSION }}"
  models:
  gpt-4o:
    deploymentName: "gpt-4o" #}
      - group: "Sweden"
        apiKey: "{{ OPENAI_AZURE_API_KEY_1 }}"
        instanceName: "{{ OPENAI_AZURE_INSTANCENAME_1 }}"
        version: "{{ OPENAI_AZURE_API_VERSION }}"
        models:
          gpt-4o:
            deploymentName: "gpt-4o"
          gpt-4o-mini:
            deploymentName: "gpt-4o-mini"
      - group: "Sweden-Reasoning"
        apiKey: "009bc3df116048fb90aa6793e16bce47"
        instanceName: "saunachatse"
        version: "2024-12-01-preview"
        dropParams: ["stream", "temperature", "top_p", "presence_penalty", "frequency_penalty", "best_of", "max_tokens", "stop"]
        models:
          o3-mini:
            deploymentName: "o3-mini"
          o1:
            deploymentName: "o1"   
{# whisper:
  deploymentName: whisper-01 #}
      {# - group: "llama-70b-chat"
        apiKey: "{{ OPENAI_AZURE_LLAMA_API_KEY }}"
        baseURL: "https://Meta-Llama-3-70B-Instruct-qekul-serverless.swedencentral.inference.ai.azure.com/v1/chat/completions"
        serverless: true
        models:
          llama-70b-chat: true #}
      {# - group: "mistral-inference"
        apiKey: "{{ OPENAI_AZURE_MISTRAL_API_KEY }}"
        baseURL: "https://Mistral-large-tfrvw-serverless.swedencentral.inference.ai.azure.com/v1/chat/completions"
        serverless: true
        models:
          mistral-large-chat: true #}

{# See the Custom Configuration Guide for more information:
https://docs.librechat.ai/install/configuration/custom_config.html #}

speech:
  speechTab:
    conversationMode: true
    advancedMode: false
    speechToText:
      engineSTT: "external"
      autoTranscribeAudio: true
      decibelValue: -45
      autoSendText: -1
    textToSpeech:
      engineTTS: "external"
      voice: "alloy"
      automaticPlayback: false
      playbackRate: 1.0
      cacheTTS: true
  stt:
    azureOpenAI:
      instanceName: "{{ OPENAI_AZURE_INSTANCENAME_1 }}"
      apiKey: "{{ OPENAI_AZURE_API_KEY_1 }}"
      deploymentName: "whisper-01"
      apiVersion: "{{ OPENAI_AZURE_API_VERSION }}"
  tts:
    azureOpenAI:
      instanceName: "{{ OPENAI_AZURE_INSTANCENAME_1 }}"
      apiKey: "{{ OPENAI_AZURE_API_KEY_1 }}"
      deploymentName: "tts-hd"
      apiVersion: "{{ OPENAI_AZURE_API_VERSION }}"
      model: "tts-hd"
      voices: ['alloy', 'echo', 'fable', 'onyx', 'nova', 'shimmer']
{# modelSpecs:
  enforce: false
  prioritize: false
  list:
    - name: "gpt-4o"
      label: "gpt-4o"
      preset:
        endpoint: "azureOpenAI"
        model: "gpt-4o"
        temperature: 0.7
    - name: "o1"
      label: "o1"
      preset:
        endpoint: "azureOpenAI"
        model: "o1"
        temperature: 1
    - name: "o1-mini"
      label: "o1-mini"
      preset:
        endpoint: "azureOpenAI"
        model: "o1-mini"
        temperature: 1
    - name: "gpt-4o-mini"
      label: "gpt-4o-mini"
      preset:
        endpoint: "azureOpenAI"
        model: "gpt-4o-mini"
        temperature: 0.7

interface:
  endpointsMenu: true
  modelSelect: true
  parameters: true
  presets: true #}

