global:
  scrape_interval: {{ prometheus_global.scrape_interval}}
  scrape_timeout: {{ prometheus_global.scrape_timeout}}
  external_labels:
    monitor: "{{ prometheus_monitor_name }}"


scrape_configs:
{% for name, endpoint in endpoints.items() if endpoint.prometheus_exporter %}
  - job_name: "{{ name }}"
{% if endpoint.prometheus_settings.scrape_interval is defined %}
    scrape_interval: "{{ endpoint.prometheus_settings.scrape_interval }}"
{% endif %}
{% if endpoint.prometheus_settings.scrape_timeout is defined %}
    scrape_timeout: "{{ endpoint.prometheus_settings.scrape_timeout }}"
{% endif %}
    scheme: "{{ endpoint.prometheus_settings.scheme | default("https") }}"
{% if endpoint.prometheus_settings.metrics_path is defined %}
    metrics_path: "{{ endpoint.prometheus_settings.metrics_path }}"
{% endif %}
{% if endpoint.prometheus_settings.params is defined %}
    params:
{% for key, value in endpoint.prometheus_settings.params.items() %}
      {{ key }}: ["{{ value }}"]
{% endfor %}
{% endif %}
{% if endpoint.prometheus_settings.script is defined %}
    script: ["{{ endpoint.prometheus_settings.script }}"]
{% endif %}
{% if endpoint.prometheus_settings.basic_auth is defined %}
    basic_auth:
      username: "{{ endpoint.prometheus_settings.basic_auth.username }}"
      password: "{{ endpoint.prometheus_settings.basic_auth.password }}"
{% endif %}
{% if endpoint.prometheus_settings.authorization is defined %}
    authorization:
      credentials: "{{ endpoint.prometheus_settings.authorization.credentials }}"
{% endif %}
{% if endpoint.prometheus_settings.bearer_token is defined %}
    bearer_token: "{{ endpoint.prometheus_settings.bearer_token }}"
{% endif %}
    static_configs:
      - targets:
{% if endpoint.target_replacement_url is defined %}
{% for url in endpoint.target_replacement_url %}
        - "{{ url }}"
{% endfor %}
{% else %}
{% for location, url in endpoint.items() %}
{% if location not in ['prometheus_exporter', 'prometheus_settings', 'target_replacement_url'] %}
{% if url is string %}
        - "{{ url }}"
{% else %}
{% for u in url %}
        - "{{ u }}"
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if endpoint.prometheus_settings.relabel_configs is defined %}
    relabel_configs:
{% for relabel_config in endpoint.prometheus_settings.relabel_configs %}
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "{{ relabel_config.replacement }}"
{% endfor %}
{% endif %}

{% endfor %}


{% if prometheus_alert_rules_files is defined %}
rule_files:
{% for rule_file in prometheus_alert_rules_files %}
  - "{{ rule_file }}"
{% endfor %}
{% endif %}


{% if prometheus_alertmanager_targets is defined %}
alerting:
  alertmanagers:
    - static_configs:
      - targets:
{% for target in prometheus_alertmanager_targets %}
        - "{{ target }}"
{% endfor %}
{% endif %}